Repository ethereum-optimism/specs, pull requests merged in 2025-04, with the labels that each got.

#657 fix(isthmus): LaTeX rendering
  specs/protocol/isthmus/exec-engine.md
Labels: H-isthmus

#667 Update exec-engine.md
  specs/protocol/exec-engine.md
Labels: C-debt, A-rpc

#658 proofs: Specify new interop hints
  specs/fault-proof/index.md
Labels: H-interop, A-prover

#661 feat: added error codes for supervisor RPC errors
  specs/interop/supervisor.md
Labels: C-good-first-issue, H-interop, A-supervisor, A-rpc

#681 chore: Rework security section for the expiry window
  specs/interop/derivation.md
Labels: H-interop, A-prover, C-debt

#671 specs: add expiry window
  specs/interop/derivation.md
  specs/interop/messaging.md
Labels: H-interop, A-prover, C-debt

#611 Move MT Cannon from experimental
  specs/SUMMARY.md
  specs/experimental/cannon-fault-proof-vm-mt.md
  specs/fault-proof/cannon-fault-proof-vm.md
Labels: A-prover, C-debt

#675 Fix grammar, typo, and terminology inconsistencies in documentation
  meta/OP Mainnet: release flow explained (high-level overview).md
  specs/experimental/gov-token.md
Labels: C-debt

#669 rollup-node-p2p: Specify Unsafe Chain Consensus Behaviors
  specs/protocol/rollup-node-p2p.md
Labels: A-consensus

#672 Add Tentative Specs for Interop Upgrade Txs
  specs/SUMMARY.md
  specs/interop/derivation.md
  specs/static/bytecode/interop-cross-l2-inbox-deployment.txt
  specs/static/bytecode/interop-l2-to-l2-cross-domain-messenger-deployment.txt
Labels: H-interop, A-derivation, P-high

#692 feat(interop): Transition block sequencer + derivation rules
  specs/interop/derivation.md
Labels: H-interop, A-derivation
