Repository ethereum-optimism/specs, pull requests merged in 2025-02, with the labels that each got.

#563 feat: EIP-7002 and EIP-7251 [ISTHMUS]
  specs/protocol/isthmus/overview.md
Labels: H-isthmus, U-nodiff

#553 Isthmus: EIP-2537
  specs/protocol/isthmus/exec-engine.md
  specs/protocol/isthmus/overview.md
Labels: H-isthmus, H-pectra, A-evm, A-execution

#584 Link eip2935 contract deployment
  specs/protocol/isthmus/overview.md
Labels: H-isthmus, H-pectra

#590 fix(isthmus): Make V4 New Payload Consistent
  specs/protocol/exec-engine.md
  specs/protocol/isthmus/exec-engine.md
Labels: C-enhancement, H-isthmus, A-execution
