Repository ethereum-optimism/specs, pull requests merged in 2025-03, with the labels that each got.

#607 isthmus: Clarify `EIP-7685` dependent behaviors
  specs/protocol/isthmus/exec-engine.md
Labels: C-enhancement, H-isthmus

#533 specs: supervisor api
  .markdownlint.json
  Justfile
  specs/SUMMARY.md
  specs/interop/overview.md
  specs/interop/sequencer.md
  specs/interop/supervisor.md
Labels: H-interop

#626 fix(isthmus): P2P payload envelope encoding
  specs/protocol/rollup-node-p2p.md
Labels: H-isthmus, U-node

#636 feat(isthmus): Operator fee spec improvements
  specs/protocol/isthmus/exec-engine.md
Labels: H-isthmus

#642 chore: Update interop specs
  specs/interop/derivation.md
  specs/interop/predeploys.md
  specs/interop/tx-pool.md
Labels: H-interop

#647 chore: Fix Isthmus payload hash spec
  specs/protocol/rollup-node-p2p.md
Labels: H-isthmus
