Repository ethereum-optimism/specs, pull requests merged in 2025-01, with the labels that each got.

#525 feat: update spec to use v4 payload methods for isthmus
  specs/protocol/derivation.md
  specs/protocol/exec-engine.md
  specs/protocol/isthmus/exec-engine.md
Labels: H-isthmus, U-node, H-pectra, A-consensus, A-execution, U-noop

#548 feat: indicate EIP-7685 part of Isthmus
  specs/protocol/isthmus/overview.md
Labels: H-isthmus

#554 Isthmus: EIP-7251
  specs/protocol/isthmus/exec-engine.md
  specs/protocol/isthmus/overview.md
Labels: H-isthmus, H-pectra, A-execution, U-noop

#536 interop: fix optimistic block deposit tx attributes
  specs/interop/derivation.md
  specs/protocol/deposits.md
Labels: H-interop

#556 Isthmus: EIP-7702 Span Batch Updates
  specs/protocol/isthmus/derivation.md
Labels: H-isthmus, H-pectra, A-derivation

#565 Link span batch specs to eip7702
  specs/protocol/isthmus/overview.md
Labels: H-isthmus, H-pectra
