Repository ethereum-optimism/specs, pull requests merged in 2025-06, with the labels that each got.

#705 fix: add missing DerivedIDPair spec
  specs/interop/supervisor.md
Labels: H-interop, A-supervisor

#728 chore: add operator fee vault section to predeploys
  specs/protocol/predeploys.md
Labels: C-good-first-issue, H-isthmus, U-smart-contract, C-debt

#723 Add constraints for `supervisor_syncStatus`
  specs/interop/supervisor.md
Labels: H-interop, A-supervisor, C-debt, A-rpc
